{% extends 'templates/base.html' %}

  {% block main %}
<div class="col-md-8">

    
      <h1 class='mt-5' >Here is About Page</h1>

       
    


        <!-- Pagination -->
        {% comment %} <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul> {% endcomment %}

      </div>

  {% endblock %}